<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
            <a class="navbar-brand" href="/finance">
                <img src="images/logo-w-bg.jpg" alt="{{siteName}}" width="35" height="35">
                {{siteName}}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="/finance/details.html">Relatório Financeiro</a>
                    <a class="nav-link" href="/finance/donate.html">Faça uma Doação</a>
                    <a class="nav-link" href="mailto:contact@palavravivachurch.org.uk">Fale Conosco</a>
                </div>
            </div>
        </div>
    </nav>
</header>